.monBouton {
  background-color: #DF6730 !important;
  color: #090315 !important;
}

input {
  background-color: #090315;
  color: #DF6730;
  text-align: center;
}

.monTitre {
  font-size: 30px;
  font-weight: bold;
}

.indication {
  font-size: 25px;
}

#container {
  margin-top: 10px;
}

body {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  text-align: center;
  color: #DF6730;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri.woff2") format("woff2"), url("../fonts/Calibri.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Bold.woff2") format("woff2"), url("../fonts/Calibri-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Italic.woff2") format("woff2"), url("../fonts/Calibri-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-BoldItalic.woff2") format("woff2"), url("../fonts/Calibri-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  vertical-align: middle;
  /*height: 100vh;*/
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
}

#date2 {
  margin-left: 20px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

input[type*="text"] {
  text-align: center;
  background-color: #090315;
  color: #DF6730;
}

input:not([id*="annee"]) {
  max-width: 40px;
}

input[id*="annee"] {
  max-width: 50px;
}

#listeResultats {
  margin-top: 10px;
}

#listeResultats li {
  list-style: none;
}

#btnAction {
  margin-bottom: 10px;
  background-color: #DF6730 !important;
  color: #090315 !important;
}
/*# sourceMappingURL=calculDates.css.map */