#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 10px;
}

input:not([id*="annee"]) {
  max-width: 40px;
}

input[id*="annee"] {
  max-width: 50px;
}

#resultat {
  margin-top: 10px;
}

ul {
  list-style: none;
}
/*# sourceMappingURL=calculLecture.css.map */