.monBouton {
  background-color: #DF6730 !important;
  color: #090315 !important;
}

input {
  background-color: #090315;
  color: #DF6730;
  text-align: center;
}

.monTitre {
  font-size: 30px;
  font-weight: bold;
}

.indication {
  font-size: 25px;
}

#container {
  margin-top: 10px;
}

body {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  text-align: center;
  color: #DF6730;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri.woff2") format("woff2"), url("../fonts/Calibri.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Bold.woff2") format("woff2"), url("../fonts/Calibri-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Italic.woff2") format("woff2"), url("../fonts/Calibri-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-BoldItalic.woff2") format("woff2"), url("../fonts/Calibri-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

body {
  background-color: #090315;
  height: 100%;
  width: 100%;
  color: #df6730;
}

html {
  height: 100%;
}

html,
body {
  min-height: 100%;
}

li {
  list-style: none;
}

#container {
  position: relative;
}

#monFooter {
  height: 39px;
  width: 100%;
  text-align: end;
  border-top: 1px solid #df6730;
  position: absolute;
  bottom: 0px;
  display: table-cell;
}

#monFooter img {
  max-height: 25px;
  width: auto;
  vertical-align: middle;
  margin-right: 5px;
}

#monFooter a {
  vertical-align: middle;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button[id^="aujour"] {
  margin-top: 10px;
}
/*# sourceMappingURL=global.css.map */