#intro {
  font-size: 25px;
  text-align: center;
  height: 100%;
  display: table;
  width: 100%;
}

#intro p {
  display: table-cell;
  vertical-align: middle;
}
/*# sourceMappingURL=index.css.map */