$noir: #090315;
$orange: #DF6730;
$violet: #6A31E0;
$vert: #30DF67;
$blanc: #ffffff;
.monBouton {
    background-color: $orange!important;
    color: $noir!important;
}

input {
    background-color: $noir;
    color: $orange;
    text-align: center;
}

.monTitre {
    font-size: 30px;
    font-weight: bold;
}

.indication {
    font-size: 25px;
}

#container {
    margin-top: 10px;
}

body {
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    color: $orange;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.woff2') format('woff2'), url('../fonts/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Bold.woff2') format('woff2'), url('../fonts/Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Italic.woff2') format('woff2'), url('../fonts/Calibri-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-BoldItalic.woff2') format('woff2'), url('../fonts/Calibri-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}