#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

input:not([id*="annee"]) {
    max-width: 40px;
}

input[id*="annee"] {
    max-width: 50px;
}

#resultat {
    margin-top: 10px;
}

ul {
    list-style: none;
}