@import "master";
$noir: #090315;
$orange: #df6730;
$violet: #6a31e0;
$vert: #30df67;
body {
    background-color: $noir;
    height: 100%;
    width: 100%;
    color: $orange;
}

html {
    height: 100%;
}

html,
body {
    min-height: 100%;
}

li {
    list-style: none;
}

#container {
    position: relative;
}

#monFooter {
    height: 39px;
    width: 100%;
    text-align: end;
    border-top: 1px solid $orange;
    position: absolute;
    bottom: 0px;
    display: table-cell;
}

#monFooter img {
    max-height: 25px;
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}

#monFooter a {
    vertical-align: middle;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button[id^="aujour"] {
    margin-top: 10px;
}